/* root */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: #121212;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    overflow-x: hidden;
}

/* layout */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero{
    position: relative;
    width: 60%;
    padding: 40px 40px 40px 0;
    background-color: rgb(230, 230, 230);
}

.hero-content{
    margin-left: 220px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

article{
    position: relative;
    width: 60%;
    padding: 40px 40px 40px 0;
    background-color: rgb(230, 230, 230);
}

.article-content{
    margin-left: 220px;
}

.overlap-card{
    position: absolute;
    top: 10%;
    left: -10%;
    bottom: 9%;
    z-index: 2;
    width: 260px;
    border-radius: 10px;
    padding: 30px;
    color: #fff;
}

#hero-specimen{
    background-color: #121212;
}

#hero-specimen h2{
    font-size: 96pt;
    text-align: center;
}

#specimen-1{
    background-color: #4A148C;
}

#specimen-2{
    background-color: #1A237E;
}

#specimen-3{
    background-color: #F50057;
}

.hero,
article{
    transform: translateX(100%);
    opacity: 0;
}

.hero.appear,
article.appear{
    transform: translateX(0);
    opacity: 1;
    transition: 
    opacity .6s ease-in-out,
    transform .8s ease-in-out;
}

footer{
    background-color: #121212;
}

footer p{
    color: #fff;
    padding: 8px;
    margin-bottom: 0;
}

#top-shortcut{
    position: fixed;
    bottom: 68px;
    right: 110px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #121212;
    opacity: 0.75;
}

#top-shortcut a{
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0;
    transition: transform .2s ease-in;
}

#top-shortcut:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: transform .2s ease-in-out;
}

/* typography */

h1,
h2,
h3,
h4{
    line-height: 1.2;
}

h1{
    font-size: 46pt;
    margin-bottom: 14px;
}

p{
    margin-bottom: 20px;
}

a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: inherit;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .2);
}

a + a{
    margin-left: 10px;
}

.font-pair1a{
    font-family: 'Abril Fatface', cursive;
}

.font-pair2a{
    font-family: 'Archivo', sans-serif;
}

.font-pair2b{
    font-family: 'Judson', serif;
    font-size: 20pt;
}

.font-pair3a{
    font-family: 'Crimson Pro', serif;
    font-size: 20pt;
}

.font-pair3b{
    font-family: 'Work Sans', sans-serif;
}

/* background-images */

.hero-background{
    background: url("https://images.pexels.com/photos/6045366/pexels-photo-6045366.jpeg") no-repeat fixed center;
    background-size: cover;
}

.background_article-one{
    background: url("https://images.pexels.com/photos/1510595/pexels-photo-1510595.jpeg") no-repeat fixed center;
    background-size: cover;
}

.background_article-two{
    background: url("https://images.pexels.com/photos/256559/pexels-photo-256559.jpeg") no-repeat fixed center;
    background-size: cover;
}

.background_article-three{
    background: url("https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg") no-repeat fixed center;
    background-size: cover;
}
